*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Carrois Gothic SC', sans-serif;
    font-family: 'Spartan', sans-serif;
    font-size: 62.5%;
}
header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 5px;
}
header .index-icon{
    font-weight: 700;
    font-size: 3rem;
    text-decoration: none;
    color: #000000;
    transition: 400ms;
}
header .index-icon:hover{
    color: #ffffff;
}

header .list-header{
    list-style: none;
    display: flex;
    align-items: center;
}
header .item-header{
    margin: 5px;
    
}
header .item-header a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #000000;
    transition: 400ms;
}
header .item-header a:hover{
    font-weight: 700;
    font-size: 1.4rem;
}
header .resume{
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 8px;
    transition: 400ms;
}
header .resume:hover{
    background-color: #000000;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.4rem;
}
main .main-container{
    width: auto;
    height: 100vh;
    background-image: url(/assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}